<!DOCTYPE html>
<html lang="en">

<head>
    <title>NR Contractors - 6411 Highcroft</title>
	 <link rel="stylesheet" href="public/styles/main.css">
    <link rel="stylesheet" href="public/styles/indiv-project.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="public/scripts/fontawesome-all.js"></script>
</head>
	
<body>
<header>
	<nav>
        <div class="nav-container">
			<div class="logo-div">
				<div class="img-div"><img src="public/img/nraltLogo.jpg" alt="img"></div>
				<div class="logo-center">
            	<h4>NR Contractors</h4>
				<h2>Construction Excellence Since 1992</h2>
			</div>
        	</div>
			<div class="nav-div">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/services">SERVICES</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/contact">CONTACT</a></li>
					<li><a href="/#about">ABOUT</a></li>
        		</ul>
			</div>
        </div>
    </nav>
</header>
	
<!-- SERVICES SECTION -->
	<section>
		<div class="project">

			<div class="service-list-container">
				<ul>
					<li class="divLine"></li>
					<li class="serviceName">Year Built</li>
					<p>2011</p>
					<li class="divLine"></li>
					<li class="serviceName">Market</li><p>Residential</p>
					<li class="divLine"></li>
					<li class="serviceName">Service</li><p>New Construction</p>
					<p>Interiors</p>
					<li class="divLine"></li>
					<li class="serviceName">SQFT</li>
					<p>8,000SF</p>
					<li class="divLine"></li>
					<div class="estimate-banner">
						<p><a href="/contact"><strong>Contact us</strong> today <br>for a free estimate.</a></p>
					</div>
				</ul>
			</div>
			
			<div class="project-highlight-container">
				<h3 id="title">6411 Highcroft</h3>

					<div class="slideshow-container">
						<div class="mySlides fade">
							<img src="public/img/6411/6411nightfront.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/6411/6411kitchen.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/6411/6411diningceiling.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/6411/6411movie.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/6411/6411pool.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/6411/6411ext.jpg" style="width:100%">
							<div class="text"></div>
						</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
<br>

		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span> 
		  <span class="dot" onclick="currentSlide(2)"></span> 
		  <span class="dot" onclick="currentSlide(3)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span> <span class="dot" onclick="currentSlide(5)"></span>
		  <span class="dot" onclick="currentSlide(6)"></span> 
		</div>
	
				<h1>6411 Highcroft Dr. at Quail West Estates - Naples, FL</h1>
				<p>Designed and built by NR Contractors with the highest quality craftsmanship, unique architectural details, and luxurious finishes. This custom home encompasses 8,003 square feet under air with a total of 6 bedrooms, 7 full baths and a 6-car garage. <br>Special features include: Floating marble staircase to the second floor complete with a gameroom, wet bar, theater room, and gym. The magnificent outdoor living space is a luxurious tropical oasis, complete with outdoor kitchen, covered seating, fireplace, amazing lagoon style pool/spa with rock waterfalls, Grotto & lush foliage.</p>
			</div>
			
			<div class="project-list-container">
				<h1 >Significant Projects</h1>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/6411/6411nightfront.jpg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/6411">6411 Highcroft</a></h2>
						<p>Quail West - Naples, FL</p>
					</div>
				</div>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/5965/5965extfront.jpeg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/5965">5965 Amberwood</a></h2>
						<p>The Strand - Naples, FL</p>
					</div>
				</div>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/9179/9179gameroom.jpg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/9179">9179 The Lane</a></h2>
						<p>Quail Woods - Naples, FL</p>
					</div>				</div>
				<li class="projDivLine"></li>
			</div>
			
		</div>
   
</section>
<!-- End of SERVICES Section -->

	
<!-- FOOTER SECTION -->
<footer>
  <div class="footer-icons">
	  <a class="icon" href="https://www.facebook.com/NR-Contractors-Inc-130551337642330/"><i class="fab fa-facebook-f"></i></a>
	  <a class="bbblogo" href="https://www.bbb.org/us/fl/naples/profile/construction-services/nr-contractors-inc-0653-44002390"><img  src="public/img/BBB-logo-new-3.png"></a>

	<p class="copyright">Copyright&copy; 2018, All Rights Reserved, NR Contractors</p>
	</div>
	<div class="footer-contact-container">
		<div class="footer-contact">
		<p>P.O. BOX 110127 Naples, FL 34108 || 239.597.9083 || E-mail: raymus@comcast.net</p>
		</div>    
      </div>
</footer>
<!-- END OF FOOTER SECTION -->    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="public/scripts/slideShow.js"></script>
	
</body>
</html>



	