<!DOCTYPE html>
<html lang="en">

<head>
    <title>NR Contractors - Home</title>
    <link rel="stylesheet" href="public/styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="public/scripts/fontawesome-all.js"></script>
</head>
	
<body>
<header>
	<nav>
        <div class="nav-container">
			<div class="logo-div">
				<div class="img-div"><img src="public/img/nraltLogo.jpg" alt="img"></div>
				<div class="logo-center">
            	<h4>NR Contractors</h4>
				<h2>Construction Excellence Since 1992</h2>
			</div>
        	</div>
			<div class="nav-div">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/services">SERVICES</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/contact">CONTACT</a></li>
					<li><a href="/#about">ABOUT</a></li>
        		</ul>
			</div>
        </div>
    </nav>
	<div class="banner">
		
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="public/img/6411/6411nightfront.jpg" style="width:100%">
				<div class="text"></div>
			</div>
			<div class="mySlides fade">
				<img src="public/img/6411/6411kitchen.jpg" style="width:100%">
				<div class="text"></div>
			</div>
			<div class="mySlides fade">
				<img src="public/img/6411/6411pool.jpg" style="width:100%">
  				<div class="text"></div>
			</div>
			<div class="mySlides fade">
				<img src="public/img/9179/9179office.jpg" style="width:100%">
  				<div class="text"></div>
			</div>
			<div class="mySlides fade">
				<img src="public/img/9179/9179gameroom.jpg" style="width:100%">
  				<div class="text"></div>
			</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span> 
  	<span class="dot" onclick="currentSlide(2)"></span> 
  	<span class="dot" onclick="currentSlide(3)"></span>
  	<span class="dot" onclick="currentSlide(4)"></span>
	<span class="dot" onclick="currentSlide(5)"></span> 
</div>

	</div>

</header>
	    
<!-- ABOUT US SECTION -->
<section id="about" class="about">
    <article class="about-card">
    <h3>Our History</h3>
	<div class="title-underline"></div>
		<p> Founded in 1992, NR Contractors has served the Naples Community with integrity, quality craftsmanship and excellence for over 25 years.  With projects ranging from work with Collier County Govt. to rennovating family homes, all clients have been served with upmost importance.</p>
		<br>
		<p>Our reputation is among the best in the business and is complemented by our many longstanding relationships with vendors and City representatives in the Naples Area.  With this experience and excellent reputation in the marketplace comes outstanding cooperation to achieve each project’s schedule and budget.</p>
    </article>
</section>    
    
<!-- END ABOUT US SECTION -->

<!-- FOOTER SECTION -->
<footer>
  <div class="footer-icons">
	  <a class="icon" href="https://www.facebook.com/NR-Contractors-Inc-130551337642330/"><i class="fab fa-facebook-f"></i></a>
	  <a class="bbblogo" href="https://www.bbb.org/us/fl/naples/profile/construction-services/nr-contractors-inc-0653-44002390"><img  src="public/img/BBB-logo-new-3.png"></a>

	<p class="copyright">Copyright&copy; 2018, All Rights Reserved, NR Contractors</p>
	</div>

	<div class="footer-contact-container">
		<div class="footer-contact">
		<p>P.O. BOX 110127 Naples, FL 34108 || 239.597.9083 || E-mail: raymus@comcast.net</p>
		</div>    
      </div>
</footer>
<!-- END OF FOOTER SECTION -->    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="public/scripts/slideShow.js"></script>
</body>
</html>



	