<!DOCTYPE html>
<html lang="en">

<head>
    <title>NR Contractors - Freedom Park</title>
	 <link rel="stylesheet" href="public/styles/main.css">
    <link rel="stylesheet" href="public/styles/indiv-project.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="public/scripts/fontawesome-all.js"></script>
</head>
	
<body>
<header>
	<nav>
        <div class="nav-container">
			<div class="logo-div">
				<div class="img-div"><img src="public/img/nraltLogo.jpg" alt="img"></div>
				<div class="logo-center">
            	<h4>NR Contractors</h4>
				<h2>Construction Excellence Since 1992</h2>
			</div>
        	</div>
			<div class="nav-div">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/services">SERVICES</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/contact">CONTACT</a></li>
					<li><a href="/#about">ABOUT</a></li>
        		</ul>
			</div>
        </div>
    </nav>
</header>
	
<!-- SERVICES SECTION -->
	<section>
		<div class="project">

			<div class="service-list-container">
				<ul>
					<li class="divLine"></li>
					<li class="serviceName">Work Completed</li>
					<p>2019</p>
					<li class="divLine"></li>
					<li class="serviceName">Market</li><p>Commercial/</p>
					<p>Government</p>
					<li class="divLine"></li>
					<li class="serviceName">Service</li><p>Rennovations</p>
					
					
					<li class="divLine"></li>
					<li class="serviceName">SQFT</li>
					<p>1,500</p>
					<li class="divLine"></li>
					<div class="estimate-banner">
						<p><a href="/contact"><strong>Contact us</strong> today <br>for a free estimate.</a></p>
					</div>
				</ul>
			</div>
			
			<div class="project-highlight-container">
				<h3 id="title">Freedom Memorial Park</h3>

					<div class="slideshow-container">
						<div class="mySlides fade">
							<img src="public/img/memorial_park.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/9179/9179frontdoor.jpg" style="width:100%">
							<div class="text"></div>
						</div>
						<div class="mySlides fade">
							<img src="public/img/9179/9179office.jpg" style="width:100%">
							<div class="text"></div>
						</div>

<!-- 					
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
-->
		</div>
<br>
<!--
		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span> 
		  	<span class="dot" onclick="currentSlide(3)"></span>
		  	<span class="dot" onclick="currentSlide(4)"></span>

		</div>
-->
	
				<h1>Freedom Memorial Park - Naples, FL</h1>
				<p>As part of our prefered vendor contract with Collier County, NR Contractors has been honored with the priveledge to work on the Freedom Memorial Park improvements.  Our work included updating the Memorial grounds with signatory stones recognizing the brave Veterans that have served.  We could not be more humbled to be a part of this special project.</p>
			</div>
			
			<div class="project-list-container">
				<h1 >Significant Projects</h1>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/6411/6411nightfront.jpg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/6411">6411 Highcroft</a></h2>
						<p>Quail West - Naples, FL</p>
					</div>
				</div>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/5965/5965extfront.jpeg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/5965">5965 Amberwood</a></h2>
						<p>The Strand - Naples, FL</p>
					</div>
				</div>
				<li class="projDivLine"></li>
				<div class="ind-project-container">
					<div class="img-container">
						<img src="public/img/9179/9179gameroom.jpg">
					</div>
					<div class="project-text">
						<h2 class="projectName"><a href="/9179">9179 The Lane</a></h2>
						<p>Quail Woods - Naples, FL</p>
					</div>
				</div>
				<li class="projDivLine"></li>
			</div>
			
		</div>
   
</section>
<!-- End of SERVICES Section -->

	
<!-- FOOTER SECTION -->
<footer>
  <div class="footer-icons">
	  <a class="icon" href="https://www.facebook.com/NR-Contractors-Inc-130551337642330/"><i class="fab fa-facebook-f"></i></a>
	  <a class="bbblogo" href="https://www.bbb.org/us/fl/naples/profile/construction-services/nr-contractors-inc-0653-44002390"><img  src="public/img/BBB-logo-new-3.png"></a>

	<p class="copyright">Copyright&copy; 2018, All Rights Reserved, NR Contractors</p>
	</div>
	<div class="footer-contact-container">
		<div class="footer-contact">
		<p>P.O. BOX 110127 Naples, FL 34108 || 239.597.9083 || E-mail: raymus@comcast.net</p>
		</div>    
      </div>
</footer>
<!-- END OF FOOTER SECTION -->    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="public/scripts/slideShow.js"></script>
	
</body>
</html>



	