<!DOCTYPE html>
<html lang="en">

<head>
    <title>NR Contractors - Portfolio</title>
    <link rel="stylesheet" href="public/styles/main.css">
	<link rel="stylesheet" href="public/styles/portfolio.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="public/scripts/fontawesome-all.js"></script>
	
</head>
	
<body>
    
<header>
	<nav>
        <div class="nav-container">
			<div class="logo-div">
				<div class="img-div"><img src="public/img/nraltLogo.jpg" alt="img"></div>
				<div class="logo-center">
            		<h4>NR Contractors</h4>
					<h2>Construction Excellence Since 1992</h2>
				</div>
        	</div>
			<div class="nav-div">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/services">SERVICES</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/contact">CONTACT</a></li>
					<li><a href="/#about">ABOUT</a></li>
        		</ul>
			</div>
        </div>
    </nav>
</header>
	
<!-- PORTFOLIO PREVIEW SECTION -->
	
<section class="service-intro">
	<div class="title">
    	<h2>Our Work</h2>

		<div class="title-underline"></div>
			<div>
				<h3>Construction Excellence Since 1992</h3>
			</div>
		</div>    
	</section>
	<section class="gallery-section">
		<div class="container">
			<div class="row-container">
				<div class="box">
					<div class="imgBox" id="img1">
						<img src="public/img/6411/6411nightfront.jpg" alt="Image1">
					</div>
					<div class="details">
						<div class="content">
							<a href="/6411">6411 Highcroft</a>
						</div>
					</div>
				</div>
			
				<div class="box">
					<div class="imgBox" id="img2">
						<img src="public/img/5965/5965extfront.jpeg" alt="Image2">
					</div>
					<div class="details">
						<div class="content">
							<a href="/5965">5965 Amberwood Drive</a>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="imgBox" id="img3">
						<img src="public/img/9179/9179frontdoor_prev.jpg" alt="Image3">
					</div>
					<div class="details">
						<div class="content">
							<a href="/9179">9179 The Lane</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row-container">
			<div class="box">
				<div class="imgBox" id="img4">
					<img src="public/img/soundwall.jpg" alt="Image4">
				</div>
				<div class="details">
					<div class="content">
						<a href="/soundwall">Collier County Jail Soundwall</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="imgBox" id="img5">
					<img src="public/img/memorial_park.jpg" class="gallery__img" alt="Image5">
				</div>
				<div class="details">
					<div class="content">
						<a href="/memorial">Freedom Park Memorial Stones</a>
					</div>
				</div>
				
			</div>
			<div class="box">
				<div class="imgBox" id="img6">
					<img src="public/img/quailrun_clubhouse.jpg" class="gallery__img" alt="Image6">
				</div>
				<div class="details">
					<div class="content">
						<a href="/quailrun">Quail Run Clubhouse Rennovations</a>
					</div>
				</div>
			</div>
			</div>
  		</div>
	</section>
<!-- END OF PORTFOLIO PREVIEW SECTION -->

<!-- FOOTER SECTION -->
<footer>
  <div class="footer-icons">
	  <a class="icon" href="https://www.facebook.com/NR-Contractors-Inc-130551337642330/"><i class="fab fa-facebook-f"></i></a>
	  <a class="bbblogo" href="https://www.bbb.org/us/fl/naples/profile/construction-services/nr-contractors-inc-0653-44002390"><img  src="public/img/BBB-logo-new-3.png"></a>

	<p class="copyright">Copyright&copy; 2019, All Rights Reserved, NR Contractors</p>
	</div>
	<div class="footer-contact-container">
		<div class="footer-contact">
		<p>P.O. BOX 110127 Naples, FL 34108 || 239.597.9083 || E-mail: raymus@comcast.net</p>
		</div>    
      </div>
</footer>
<!-- END OF FOOTER SECTION -->    
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="public/scripts/slideShow.js"></script>
	
<!-- Load React. -->
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	
</body>
</html>