
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    flex: 0 0 auto;
	position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display:block;
    padding: 10px;
	padding-top: 30px; 
    font-size: 15px;
    text-decoration: none;
    color: navy; /*#ad343e; */
    transition: color 2s ease, background 2s ease, padding 2s ease;
}

nav ul a{
    text-decoration: none;
    text-transform: uppercase;
	color: #000066;
	font-size: 20px; 
	font-weight: 300;
}

nav ul a:hover{
    color:white;
	padding-left: 3px;
	padding-right: 3px; 
	background-color: rgba(0,0,162,0.3);
}

.nav-container img{
    width: 100px;
    align-self: center;
	height: 75px; 
}

.nav-container{
    padding: 5px 0px 5px 15px;
    background: white;
    border-bottom: 4px solid navy;
    display: flex;
	flex-direction: row; 
}

h4 {
	color: #000066;
	text-transform: uppercase;
	font-size: 32px; 
}

h2 {
	color: gray;
	font-size: 18px;
	font-weight: 100
}
.logo-div {
	display: flex;
	width: 55%;
}
.logo-center {
	display: flex;
	flex-direction: column;
	padding: 10px 0px 0px 15px;
}
.nav-div {
	width: 45%;
}

header{
	min-height: 40vh;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;   
}

.banner{
    display: flex;
	padding-top: 95px; 
	flex-direction: column; 
}
.banner img {
	height: 550px;
	width: 100%
}
.banner h3{
    text-transform: uppercase;
    font-size: 50px;
	font-weight: 400;
    color: floralwhite;
	margin-top: 15px;
}

.banner h1{
    padding-top: 10px;
	font-size: 22px;
	font-weight: 500;
    text-transform: capitalize;
    color:floralwhite;
}

@media screen and (min-width:776px){
	.nav-container{
		display: flex;
	}
	
    nav ul{
        display: flex!important;
        flex-wrap:wrap;
        justify-content: center;
    }
	
    nav ul a{
        background: transparent;
    }
    nav ul a:hover{
        padding-left: 3px;
		padding-right: 3px; 
		color:white;
		background-color: rgba(0,0,162,0.7);
    }
}

/** START of PRODUCTS SECTION **/

.products{
    padding: 0 0 100px 0;
    background: white;/*#f5f3f5;*/
}

.title h2{
    font-size: 40px;
	font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: navy;
}

.title-underline{
    background: navy;
    width: 320px;
    height: 4px;
    margin: 10px auto;
}

.title ul {
	text-align: center;
}
.title ul a{
    font-size: 25px;
	font-weight: 300;
	font-stretch: extra-condensed;
	color: navy; 
    text-transform: uppercase;
	text-decoration: none;
}
.title ul a:hover{
	color: ghostwhite; 
	background-color: navy; 
	padding: 5px; 
	font-style: bold;
	font-weight: 600;

}
.title{
    padding: 50px 0;
}

/** START of ABOUT US SECTION **/
.about{
    min-height: 75vh;
    background: url(../img/about.jpg)center/cover
    fixed no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about-card{
    background: rgba(0,0,162,0.1);
    text-align: center; 
    padding: 10px 10px;
}

.about-card h3{
    font-size: 45px;
	font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #000066;
}

.about-card p{
    line-height: 1.4;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: gray; 
	
}

@media screen and (min-width:776px){
    .about-card{
        max-width: 50%;
        border-radius: 10px;
    }
    .about-card p{
        max-width: 85%;
        margin: 0 auto;
    }
}

/* END OF ABOUT US SECTION */

/* START of FOOTER */
footer {
	display: flex;
	flex-direction: row;
	background: lightgray;
	border-top: 4px solid navy;
	font-weight: 200;
	color: navy;
}

.copyright-container {
	justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
	font-weight: 330; 
	width: 40%; 
	border: 2px solid red; 
}

.footer-contact-container {
	justify-content: right;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
	font-weight: 330; 
	width: 80%; 
}

.footer-icons{
    padding: 20px;
	width: 50%; 
}

.icon{
    font-size: 40px;
    background: #000066;
    padding: 7px 10px;
    border-radius: 40%;
    color: white;
}

.footer-icons a:hover{
    color: dimgray;
}

.bbblogo img{
	width: 140px; 
	height: 60px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom: 13px; 

}
.copyright {
	padding-top: 5px; 
	padding-left: 7px; 
	font-size: 13px; 
}

/* SLIDESHOW START */
.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(255,255,255,0.6);
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a navy background color with reduced opacity */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,162,0.3);
  	color: white;
	border: 2px solid white; 
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  font-family: sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: navy;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* SLIDESHOW END */




